{% extends "base_widget.html" %}
{% block widget_content %}
  {% if bid.issue and bid.issue.state = 'closed' %}
    {% if bid.ask_met %}
      Your ask for {{ bid.ask }} has been met.
    {% endif %}
  {% else %}
      <form id="codesy_bid" class="pure-form pure-g"
         {% if bid %}
            action = "//{{current_site.domain}}{% url 'bid-detail' bid.id %}" method="POST" >
            <input name="_method" type="hidden" value="PUT" />
         {% else %}
            action="//{{current_site.domain}}{% url 'bid-list' %}" method="POST" >
         {% endif %}
         <input name="url" type="hidden" value="{{ url }}"></input>
         <fieldset>
            <div class="pure-u-2-5">
               <label for="ask">Asking</label>
            </div>
            <div class="pure-u-2-5">
               <label for="offer">Offering</label>
            </div>
            <div class="pure-u-1-5"></div>
            <div class="pure-u-2-5">
               <input name="ask"
                      class="pure-input"
                      type="text"
                      placeholder="What you'd want."
                      value="{{ bid.ask }}">
               </input>
            </div>
            <div class="pure-u-2-5">
               <input name="offer"
                      class="pure-input"
                      type="text"
                      placeholder="What you'd pay."
                      value="{{ bid.offer }}">
               </input>
            </div>
            <div class="pure-u-1-5">
                <input id="submit_bid" class="pure-button pure-button-primary" type="submit" value="Bid" />
            </div>
         </fieldset>
      </form>
  {% endif %}
        {% if bid.issue %}
            {% include "includes/claim_form.html" %}
        {% endif %}
{% endblock %}
