{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row medium-8 large-7 columns">
        <h3>These are your bids:</h3>
    </div>
    {% for bid in bids%}
        <div class="row medium-8 large-7 columns">
            <div class="callout primary">
                <h4><a href="{{bid.url}}">{{bid.issue.title}}</a></h4>
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    {% for offer in bid.offers %}
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">You've asked for {{bid.ask}} to fix this and offered {{bid.offer}} for someone to fix it.</a>
                            <div class="accordion-content" data-tab-content>
                                You offered {{ offer.amount }}
                                <div>these fees were paid
                                {% for fee in offer.fees %}
                                    <div class="">
                                        {{fee.fee_type}}:{{fee.amount}}
                                    </div>
                                {% endfor %}
                                </div>
                                You paid: {{ offer.charge_amount }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
   {% if request.user.is_authenticated %}
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script src="{% static "js/home-app.js" %}" ></script>
   {% endif %}
{% endblock %}
