{% extends "base.html" %}
{% load auctions_extras %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <h2>Bids</h2>
    </div>
    <div class="row">
    <table>
        <thead>
            <tr>
                <th width="100">Created</th>
                <th>Issue</th>
                <th width="200">Ask</th>
                <th width="200">Offer</th>
            </tr>
        </thead>
        <tbody>
            {% for bid in bids %}
            {% actionable_claims_for_bid_for_user bid=bid user=request.user as actionable_claims %}
            <tr>
                <td>
                    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="{{ bid.created|date:"c" }}">{{ bid.created|date:"M j" }}</span></td>
                <td><a href="{{bid.url}}"{% if target %} target="{{ target }}"{% endif %}>{{bid.issue.title}}</a></td>
                <td>
                    {{ bid.ask }}
                </td>
                <td>
                    {% if bid.last_offer %}
                        <table>
                            <tr><td>Offer</td><td>{{ bid.last_offer.net_offer }}</td></tr>
                            {% if bid.last_offer.discount %}
                                <tr>
                                    <td>Credits<td>({{ bid.last_offer.discount }})</td>
                                </tr>
                                <tr>
                                    <td>Fees</td><td>{{ bid.last_offer.sum_fees }}</td>
                                </tr>

                            {% endif %}
                            <tr class="total"><td>Total</td><td>{{ bid.last_offer.charge_amount }}</td></tr>
                            <tr>
                                <a href="#"><i class="fi-question">Any questions?</i></a></td>
                            </tr>
                        </table>

                    {% endif %}

                    {% if actionable_claims.other_claims != None %}
                        {% for other_claim in actionable_claims.other_claims %}
                            {% if other_claim.status == 'Paid' %}
                                <p>This claim was paid; thank&nbsp;you!</p>
                            {% elif other_claim.status == 'Approved' %}
                                <p>This claim was approved; thank&nbsp;you!</p>
                            {% elif other_claim.status == 'Rejected' %}
                                <p>This claim was rejected.</p>
                            {% else %}
                                <p>
                                    <a class="button expanded" href="{% url 'claim-status' pk=other_claim.id %}" {% if target %} target="{{ target }}"{% endif %}>Vote on claim &raquo;</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block scripts %}
   {% if request.user.is_authenticated %}
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
   {% endif %}
{% endblock %}
