{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="medium-10 columns">
            <h3><a target="_blank" href='{{ claim.issue.url }}'>{{ claim.issue.title }}</a></h3>
            <h4>Evidence: <a target="_blank" href='{{ claim.evidence }}'>{{ claim.title }}</a></h4>
        </div>
        <div class="medium-2 columns claim-status">
            {% if claim.status == 'Paid' %}
            <i class="fi-paypal large"></i>
            {% elif claim.status == 'Submitted' %}
            <i class="fi-next large"></i>
            {% endif %}
            <br/>
            {{ claim.status }}
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <div class="date">
                <p class="date-label">Created</p>
                <p class="date-details">{{ claim.created|date:"M" }}<br/>{{ claim.created|date:"j" }}</p>
            </div>
        </div>
        <div class="medium-8 columns">
            {% if claim.status == "Submitted"  %}
                <h3>There have been no votes on this claim yet.</h3>
                {% include "includes/expiration_note.html" %}
            {% elif claim.status == "Pending" %}
                <h3>There are some still votes needed for this claim.</h3>
                {% include "includes/expiration_note.html" %}
            {% elif claim.status == "Approved" or claim.status == "Paid"  %}
                <h3>This claim was approved.</h3>
            {% elif claim.status == "Rejected" %}
                <h3>This claim was not approved.</h3>
            {% endif %}
            {% if vote %}
                {% include "includes/vote_confirmation.html" %}
            {% else %}
                {% include "includes/vote_form.html" %}
            {% endif %}
        </div>
        <div class="medium-2 columns">
            <div class="date">
                <p class="date-label">Expires</p>
                <p class="date-details">{{ claim.expires|date:"M" }}<br/>{{ claim.expires|date:"j" }}</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
   {% if request.user.is_authenticated %}
      <script src="{% static "js/home-app.js" %}" ></script>
   {% endif %}
{% endblock %}
