{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <h2>Your Claims</h2>
    </div>
    <div class="row">
        <table class="hover">
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for claim in claims%}
                <tr>
                    <td><a href="{{claim.issue.url}}">{{claim.issue.title}}</a></td>
                    <td><a href="//{{current_site.domain}}{% url 'claim-status' pk=claim.id %}">{{ claim.status }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <h2>Voted Claims</h2>
    </div>
    <div class="row">
        <table class="hover">
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for claim in voted_claims %}
                <tr>
                    <td><a href="{{claim.issue.url}}">{{claim.issue.title}}</a></td>
                    <td><a href="//{{current_site.domain}}{% url 'claim-status' pk=claim.id %}">{{ claim.status }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
   {% if request.user.is_authenticated %}
      <script src="{% static "js/home-app.js" %}" ></script>
   {% endif %}
{% endblock %}
