{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <h2>Your Claims</h2>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th width="200">Date</th>
                    <th>Issue</th>
                    <th width="200">Payout</th>
                    <th width="200">Status</th>
                </tr>
            </thead>
            <tbody>
            {% for claim in claims%}
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="{{ claim.created|date:"r" }}">{{ claim.created|date:"M j" }}</span></td>
                    <td><a href="{% url 'claim-status' claim.id %}">{{claim.issue.title}}</a></td>
                    <td>{% for payout in claim.payouts.all %}{{ payout.charge_amount }}{% endfor %}</td>
                    <td>{{ claim.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}
