{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row medium-8 large-7 columns">
        <h3>These are your claims:</h3>
    </div>
    {% for claim in claims%}
        <div class="row medium-8 large-7 columns">
            <div class="callout primary">
                <h3><a href="{{claim.issue.url}}">{{claim.issue.title}}</a></h3>
                <a href="//{{current_site.domain}}{% url 'claim-status' pk=claim.id %}">
                    Check on the status
                </a>
            </div>
        </div>
    {% endfor %}

    <div class="row medium-8 large-7 columns">
        <h3>You have voted on these claims:</h3>
    </div>
    {% for claim in voted_claims %}
        <div class="row medium-8 large-7 columns">
            <div class="callout primary">
                <h3><a href="{{claim.issue.url}}">{{claim.issue.title}}</a></h3>
                <a href="//{{current_site.domain}}{% url 'claim-status' pk=claim.id %}">
                    Check on the status
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
   {% if request.user.is_authenticated %}
      <script src="{% static "js/home-app.js" %}" ></script>
   {% endif %}
{% endblock %}
