{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row" id="claim-status-container">
        <div class="medium-2 columns">
            <img src="{{ claim.user.get_gravatar_url }}"><br/>
            <a href="https://github.com/{{ claim.user.username }}">
                {% if request.user == claim.user %}
                    You
                {% else %}
                    {{ claim.user.username }}
                {% endif %}
            </a>
        </div>
        <div class="medium-10 columns">
        claimed to fix:
        <h3><i class="fi-link"></i> <a target="_blank" href='{{ claim.issue.url }}'>{{ claim.issue.title }}</a></h3>
        <hr/>
        with this evidence:
        <h4><i class="fi-link"></i> <a target="_blank" href='{{ claim.evidence }}'>{{ claim.title }}</a></h4>
        </div>
        <hr/>
        <div class="medium-2 columns">
            <div class="date">
                <p class="date-label">Created</p>
                <p class="date-details">{{ claim.created|date:"M" }}<br/>{{ claim.created|date:"j" }}</p>
            </div>
        </div>
        <div class="medium-8 columns">
            {% if request.user == claim.user %}
                {% include "includes/payout.html" %}
            {% else %}
                {% if vote %}
                    {% include "includes/vote_confirmation.html" %}
                {% else %}
                    {% include "includes/vote_form.html" %}
                {% endif %}
            {% endif %}
        </div>
            {% if claim.status != 'Paid' %}
                <div class="medium-2 columns">
                    <div class="date">
                        <p class="date-label">Pays out</p>
                        <p class="date-details">{{ claim.expires|date:"M" }}<br/>{{ claim.expires|date:"j" }}</p>
                    </div>
                </div>
            {% endif %}
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
