{% load staticfiles %}
<div class="home-section medium-6 columns medium-offset-3">
  <div class="row">
    <div class="medium-6 columns">
      <img src="{% static "img/closed-bids.png" %}">
    </div>
    <div class="medium-6 columns">
      <h2>Closed Bids</h2>
      <p>Our goal is to <em>improve, and participate in,</em> the open source ecosystem, not to re-design it around financial incentives. We hide the financial amounts of bugs to protect the social market of the community. Publicizing bid amounts creates artificial (and detrimental) monetary incentives to what is an otherwise socially-motivated activity.</p>
             <p>For more on this, see <a href="http://web.mit.edu/ariely/www/MIT/Papers/2markets.pdf" target="_new">A tale of two markets</a> (pdf), a research article by James Heyman (UC Berkeley) and Dan Ariely (MIT)</p>
    </div>
  </div>
</div>
