{% load staticfiles %}
<div class="home-section medium-6 columns medium-offset-3">
  <div class="row">
    <div class="medium-6 columns">
      <img src="{% static "img/cross-browser.png" %}">
    </div>
    <div class="medium-6 columns">
      <h2>Cross-Browser</h2>
      <p>The codesy widgets are <a href="https://wiki.mozilla.org/WebExtensions" target="_blank">WebExtensions</a> that work with Firefox, Chrome, and Opera. We want to add it to others soon. Want to help? <a href="https://github.com/codesy/widgets" target="_blank">Check the widgets code on GitHub</a>.</p>
    </div>
  </div>
</div>
