<div class="row medium-8 large-7 columns">

<h2>FAQ</h2>

<dl>
   <dt>What is a bid?</dt>
   <dd>
     <p>
     When you land on a bug, you can quickly and easily "bid" a couple of amounts:
     <ol>
       <li>How much do you <strong>offer</strong> for someone to fix it</li>
       <li>How much do you <strong>ask</strong> to fix it yourself</li>
     </ol>
     So, you can contribute to get the bug fixed, you can say how much you would need to fix it yourself, or both.
     </p>
   </dd>
</dl>

<dl>
   <dt>What is a claim?</dt>
   <dd>When a developer has fixed a bug, they submit a claim with a URL as evidence of their fix, so that the offering bidders on the bug can approve (or reject) their claim.</dd>
</dl>

<dl>
   <dt>How are claims approved?</dt>
   <dd><p>When a developer submits their claim, the offering bidders must <em>unanimously approve</em> the claim, so the offering bidders are completely satisfied.</p>
   <p><em>Note: We are eager to learn more models for approving claims. If you have an idea, please <a href="https://github.com/codesy/codesy/issues/new" target="_blank">file an issue on GitHub</a></em></p>
   </dd>
</dl>

<dl>
   <dt>How do developers get paid?</dt>
   <dd>When a developer's claim is approved, they receive a link to get paid via PayPal.</dd>
</dl>



<dl>
   <dt>What does codesy cost me?</dt>
   <dd><p>When you bid an offer on a bug, we add a 2.5% charge. E.g., if you offer $10, we will charge $0.25.</p>
       <p>When you receive a payout for a fix, we add a 2.5% charge. E.g., if you receive $100, we will charge $2.50. We will automatically deduct this from your payout.</p>
   </dd>
</dl>
<dl>
   <dt>Why can't I see the other bid amounts?</dt>
   <dd><p>Our goal is to <em>improve, and participate in,</em> the open source ecosystem, not to re-design it around financial incentives. We hide the financial amounts of bugs to protect the social market of the community. Publicizing bid amounts creates artificial (and detrimental) monetary incentives to what is an otherwise socially-motivated activity.</p>
       <p>For more on this, see <a href="http://people.duke.edu/~dandan/Papers/PI/2markets.pdf" target="_new">A tale of two markets</a> (pdf), a research article by James Heyman (UC Berkeley) and Dan Ariely (MIT)</p></dd>
</dl>

<dl>
   <dt>Does codesy make money?</dt>
   <dd>Yes. To cover development &amp; operational expenses, and to re-invest back into the open source ecosystem, codesy charges a 2.5% fee on all transactions. I.e., 2.5% on offers + 2.5% on payouts, for an effective fee of 5%.</dd>
</dl>

<dl>
   <dt>(Why) Is codesy open source?</dt>
   <dd><p>We believe open source simply creates better software for everyone - anyone - around the world. As open source developers ourselves, we don't appreciate proprietary companies that profit off the open source community without giving us access to their code. So, codesy has been completely open-source from the beginning, and we invite you to <a href="https://github.com/codesy" target="_new">help us make it</a> the best funding platform for the open source community.</p>
       <p>Fore more on this, see <a href="https://www.redhat.com/about/whoisredhat/opensource.html" target="_new">Red Hat's Why open source?</a> page.</p></dd>
</dl>


<dl>
   <dt>What browsers does codesy support?</dt>
   <dd>The codesy widgets are <a href="https://wiki.mozilla.org/WebExtensions" target="_blank">WebExtensions</a> that work with Firefox, Chrome, and Opera. We want to add it to others soon. Want to help? <a href="https://github.com/codesy/widgets">Check the widgets code on GitHub</a>.
</dd>
</dl>


<dl>
  <dt>You didn't answer my question.</dt>
  <dd>Please <a href="https://github.com/codesy/codesy/issues/new" target="_blank">file an issue on GitHub</a> and we'll try to answer as best we can.</dd>
</dl>

</div><!-- END ROW -->

<!--TEMPLATE FOR NEW QUESTIONS AND ANSWERS -->
<!-- <dl>
   <dt>Question</dt>
   <dd>Answer.</dd>
</dl> -->
<!-- TODO: Answer this -->
