<div class="home-section medium-6 columns medium-offset-3">
  <div class="row">
            <h2>FAQ</h2>
            <dl>
               <dt>What is a bid?</dt>
               <dd>
                 <p>
                 When you land on a bug, you can quickly and easily "bid" a couple of amounts:
                 <ol>
                   <li>How much do you <strong>offer</strong> for someone to fix it</li>
                   <li>How much do you <strong>ask</strong> to fix it yourself</li>
                 </ol>
                 So, you can contribute to get the bug fixed, you can say how much you would need to fix it yourself, or both.
                 </p>
               </dd>

               <dt>What is a claim?</dt>
               <dd><p>
                   When a developer has fixed a bug, they submit a claim with a URL as evidence of their fix, so that the offering bidders on the bug can approve (or reject) their claim.
               </p></dd>

               <dt>How are claims approved?</dt>
               <dd><p>When a developer submits their claim, the offering bidders must <em>unanimously approve</em> the claim, so the offering bidders are completely satisfied.</p>
               <p><em>Note: We are eager to learn more models for approving claims. If you have an idea, please <a href="https://github.com/codesy/codesy/issues/new" target="_blank">file an issue on GitHub</a></em></p>
               </dd>

               <dt>How do I know when to vote?</dt>
               <dd>
                   <ul>
                       <li>You will receive an email with a link to the voting form.</li>
                       <li>Your list of bids on codesy.io will have a link to the voting form.</li>
                       <li>A link to the voting form will appear on the codesy addon when you visit the issue.</li>
                   </ul>
                   <p>
                   </p>
               </dd>


               <dt>What if nobody votes on a claim?</dt>
               <dd>
                   <p>Claims that do not receive votes are automatically approved after two weeks.
                   </p>
               </dd>

               <dt>How do developers get paid?</dt>
               <dd><p>
                   When a developer's claim is approved, they receive a link to have the payout transferred to their bank account.  The payout will show in the developers bank acount in two days.
               </p></dd>

               <dt>Does codesy make money?</dt>
               <dd><p>
                   Yes. To cover development &amp; operational expenses, and to re-invest back into the open source ecosystem, codesy charges a 2.5% fee on all transactions. I.e., 2.5% on offers + 2.5% on payouts, for an effective fee of 5%.
               </p></dd>

               <dt>What does codesy cost me?</dt>
               <dd><p>When you bid an offer on a bug, we add a 2.5% charge. E.g., if you offer $10, we will charge $0.25.</p>
                   <p>When you receive a payout for a fix, we add a 2.5% charge. E.g., if you receive $100, we will charge $2.50. We will automatically deduct this from your payout.</p>
                   <p>The cost of credit card and bank account processing is split between the offeror and the claimant.  E.g. On a $15 payout a fee of $0.84 will be shared.  A fee of $0.42 will be add to the offers payment and $0.42 will be deducted from the claimants payout.
                   </p>
               </dd>

               <dt>When will I be charged for an offer?</dt>
               <dd><p>
                   Your credit card is charged when a payout is requested.
                   When you make an offer we create an authorization on your credit credit card.
               </p></dd>

               <dt>What happens if more money is offered than some asks?</dt>
               <dd><p>
                   The amount of extra money is evenly split between the offerors and claimant. We think this fairly adds a bonus to the claimant and a discount for the offerors.
               </p></dd>

            </dd>

              <dt>You didn't answer my question.</dt>
              <dd>Please <a href="https://github.com/codesy/codesy/issues/new" target="_blank">file an issue on GitHub</a> and we'll try to answer as best we can.</dd>
            </dl>


  </div>
</div>
