<div class="row medium-8 large-7 columns">
<div class="blog-post">

<h2>FAQ</h2>

   <ul id="top">
     <li><a href="#how-does-it-work">How does codesy work?</a></li>
     <li><a href="#why-open-source">Why is codesy open source?</a></li>
     <li><a href="#why-double-blind">Why can't I see the bid amounts?</a></li>
   </ul>

   <div id="how-does-codesy-work" class="panel panel-default">
     <div class="panel-heading">How does codesy work?</div>
     <div class="panel-body">
         See our <a href="{% url "how_it_works" %}">How it works</a> page
     </div>
     <div class="panel-footer">
       <a href="#top">Back to top</a>
     </div>
   </div>

   <div id="why-open-source" class="panel panel-default">
     <div class="panel-heading">Why is codesy open source?</div>
     <div class="panel-body">
       <p>We believe open source simply creates better software for everyone - anyone - around the world. As open source developers ourselves, we don't appreciate proprietary companies that profit off the open source community without giving us access to their code. So, codesy has been completely open-source from the beginning, and we invite you to <a href="https://github.com/codesy" target="_new">help us make it</a> the best funding platform for the open source community.</p>
       <p>See also: <a href="https://www.redhat.com/about/whoisredhat/opensource.html" target="_new">Red Hat's Why open source?</a> page.</p>
     </div>
     <div class="panel-footer">
       <a href="#top">Back to top</a>
     </div>
   </div>

   <div id="why-double-blind" class="panel panel-default">
     <div class="panel-heading">Why can't I see the bid amounts?</div>
     <div class="panel-body">
       <p>codesy is designed to participate in the open source ecosystem, not to change or over-commercialize it. We hide the financial amounts of bugs to protect the established social market of the community. Publicizing bid amounts associates an artificial and detrimental monetary value to what is otherwise a social activity.</p>
       <p>For more on this, see <a href="http://people.duke.edu/~dandan/Papers/PI/2markets.pdf" target="_new">A tale of two markets</a> (pdf), a research article by James Heyman (UC Berkeley) and Dan Ariely (MIT)</p>
     </div>
     <div class="panel-footer">
       <a href="#top">Back to top</a>
     </div>
   </div>

</div>
</div>
