{% load staticfiles %}
{% load socialaccount %}

<div class="text-center">
  {% if not request.user.is_authenticated %}

    <a class="button gh-button track-btn" data-category="sign-in" href="{% provider_login_url "github" %}"><i class="fi-social fi-social-github medium"></i> Sign in with GitHub to get started</a>

  {% else %}

    <div class="install-step">
        <h3>Install the codesy extension.</h3>
        {% if browser.name == 'unknown' %}
            <p id="unknown-browser">Unknown browser. The codesy widgets are <a href="https://wiki.mozilla.org/WebExtensions" target="_blank">WebExtensions</a> that work with Firefox, Chrome, and Opera. We want to add it to others soon. Want to help?
                <a href="https://github.com/codesy/widgets">Check the widgets code on GitHub</a>.
            </p>
        {% else %}
            <p id="add-extension">
                <a class="button download-button large track-btn"
                    data-category="Download"
                    data-label="{{ browser.name }}"
                    href="{{ browser.href}}"
                    role="button"
                    target="_blank">
                    <img class="browser-install-icon"install
                        src="{% static browser.img %}"
                        width="32" height="32"
                    />
                    Download for {{ browser.name }}
                </a>
            </p>

      {% endif %} {# end 'browser' if #}
    </div>


    <div class="installed">

        <div id="payment-errors"></div>

        {% if request.user.stripe_customer%}
            <h3>You are ready to bid</h3>
            <p>Check out the most recent codesy activity:</p>

            <div class="row">
            <table>
                <thead>
                    <tr>
                        <th width="100">Activity</th>
                        <th>Issue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in bids %}
                    <tr>
                        <td>{{ bid.activity }}</td>
                        <td><p class="text-left">
                            <a href="{{bid.url}}"{% if target %} target="{{ target }}"{% endif %}>{{bid.issue.title}}</a></td>
                        </p>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <p>Go here to see the full list of <a href="/activity-list">Active Issues</a></p>
        {% else %}
            <h3>Browser Extension Installed</h3>
            <p>Add credit card.</p>
            {% include "credit_card_row.html" %}
        {% endif %}

    </div>

  {% endif %} {# end request.user.is_authenticated if #}
</div>
