{% load staticfiles %}

<div class="row medium-8 large-7 columns">
{% if not request.user.is_authenticated %}
         <h2>
            Sign in to get started
         </h2>

         <h3><img width="32" height="32" src="{{OCTO_CAT}}"/></h3>
         <a href="/accounts/github/login/?process=login">
          Sign in with GitHub
         </a>
{% else %}
              <div class="install-step">
                <h2>Install the Browser Extension</h2>
  {% if browser == 'chrome' %}
                <p id="add-to-chrome">
                   <img src="{% static "img/chrome.png" %}" 
                      width="32" height="32"/> 
                   <a id="chrome-install-button" 
                      class="button large success" 
                      href="https://github.com/codesy/widgets/raw/master/build/codesy.zip"
                      role="button">Download for Chrome</a>
                </p>
  {% elif browser == 'firefox' %}
                <p id="add-to-firefox">
                   <img src="{% static "img/firefox.png" %}" 
                      width="32" height="32"/> 
                   <a class="button large success" 
                      href="https://github.com/codesy/widgets/raw/master/build/codesy.xpi"
                      role="button">Download for Firefox</a>
                </p>
  {% elif browser == 'opera' %}
                <p id="add-to-opera">
                   <img src="{% static "img/opera.png" %}" 
                      width="32" height="32"/> 
                   <a class="button large success" 
                      href="https://github.com/codesy/widgets/raw/master/build/codesy.zip"
                      role="button">Download for Opera</a>
                </p>
  {% else %}
                <p id="unknown-browser">
                Unknown browser. The codesy widgets are <a href="https://wiki.mozilla.org/WebExtensions" target="_blank">WebExtensions</a> that work with Firefox, Chrome, and Opera. We want to add it to others soon. Want to help? 
                   <a href="https://github.com/codesy/widgets">Check the widgets code on GitHub</a>.
                </p>
  {% endif %} {# end 'browser' if #}
        </div>
              {% include "includes/stripe_form.html" %}

{% endif %} {# end request.user.is_authenticated if #}

      </div>
   </div>
 
</div><!-- END ROW -->
