<div class="home-section medium-6 columns medium-offset-3">
    <h2>How Does It Work?</h2>
     <ol>
       <li>Add the codesy extension to your browser.
           <ul>
               <li>Now when you visit an issue on GitHub you'll see the codesy form in the lower right corner.</li>
           </ul>
       </li>
       <li>
          Decide if you'll fund or fix the issue:
        <ul>
         <li>How much can  <strong>fund</strong>  for someone else to fix it?</li>
         <li>How much do you need to  <strong>fix</strong>  it yourself?</li>
        </ul>
       </li>
       <li>Codesy notifies a developer when their funding request is met.</li>
       <li>The developer fixes the bug and submits a claim to the funders for payout.</li>
     </ol>
</div>
