<div class="home-section medium-6 columns medium-offset-3">
    <h2>How Does It Work?</h2>
     <ol>
       <li>Add the codesy extension to your browser.
           <ul>
               <li>Use Github as normal and when you visit an issue you'll see the codesy addon in the lower right corner.</li>
           </ul>
       </li>
       <li>
          Decide if you'll fund or fix the issue:
        <ul>
            <li>How much do you need to <strong>FIX</strong> it yourself?</li>
            <li>How much would you pay to <strong>FUND</strong> someone else to fix it?</li>
        </ul>
       </li>
       <li>Codesy lets you know when your fix has been funded.</li>
       <li>Fix the bug and submit a claim to the funders for payout.</li>
     </ol>
</div>
