<div class="home-section medium-6 columns medium-offset-3">
    <h2>How Does It Work?</h2>
     <ol>
       <li>Add the codesy extension to your browser.</li>
       <li>
        When you visit an issue on GitHub, you'll see a codesy form with two questions:
        <ul>
         <li>How much can you offer for someone else to fix it?</li>
         <li>How much would you ask to fix it yourself?</li>
        </ul>
       </li>
       <li>Bid your amounts.</li>
       <li>Codesy continues to collect bids, and monitors all bugs.</li>
       <li>When a developer's <strong><em>ask</em></strong> amount is met, codesy notifies them.</li>
       <li>The developer fixes the bug and claims the payout.</li>
       <li>Codesy notifies all the other bidders and they vote to approve the claim.</li>
       <li>When the voters approve the claim, the developer can claim their payout.</li>
     </ol>
</div>
