{% block cc_form %}

   {% if not request.user.is_authenticated %}
      <h3>3. Set up payments {{TAKE_ACTION_ICON}}.</h3>
      Sign in to connect a payment method
   {% else %}
      <div id="payment-errors"></div>
   {% if request.user.stripe_card_token %}
      <h3>3. Payment set. {{OK_ICON}}</h3>
      Card on file; happy bidding!
      <a id="cc-show" >Change your card info.</a>
      <form id="cc-entry" role="form" class="form-horizontal" hidden="true">
   {% else %}
      <h3>3. Connect payments.</h3>
      <form role="form" class="form-horizontal">
   {% endif %}
        {% csrf_token %}
        <div class="form-group">
          <label for="cc-number">Card Number</label>
          <input type="text" class="form-control" id="cc-number" autocomplete="off" value="4111111111111111" maxlength="16" />
        </div>
        <div class="form-group">
          <label for="cc-ex-month">Expiration</label>
          <input type="text" class="form-control" id="cc-ex-month" autocomplete="off" value="01" maxlength="2" size="2"/>
          <input type="text" class="form-control" id="cc-ex-year" autocomplete="off" value="2020" maxlength="4" size="4"/>
        </div>
        <div class="form-group">
          <label for="cvc">Card Verification Code (CVC)</label>
          <input type="text" class="form-control" id="cvc" autocomplete="off" value="123" maxlength="4" size="4"/>
        </div>

        <button id="cc-submit" class="button">Authorize &amp; Connect</button>
        <i id="refreshing"  class='fi-loop spin'></i>
      </form>

   {% endif %}
{% endblock %}