<div class="row">
  <div class="column medium-4 medium-offset-4 text-left">
    <fieldset class="fieldset">
      <legend>Change Credit Card</legend>
    <form id="cc-entry" role="form" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="cc-number">Card Number</label>
            <input type="text" class="form-control" id="cc-number" autocomplete="off" value="{{ cc_debug.cc_number}}" maxlength="16" />
        </div>
        <div class="form-group row">
            <div class="medium-6 columns">
              <label for="cc-ex-month">Month
              <input type="text" class="form-control" id="cc-ex-month" autocomplete="off" value="{{ cc_debug.cc_ex_month}}" maxlength="2" size="2"/>
            </div>
            <div class="medium-6 columns">
              <label for="cc-ex-month">Year</label>
              <input type="text" class="form-control" id="cc-ex-year" autocomplete="off" value="{{ cc_debug.cc_ex_year}}" maxlength="4" size="4"/>
            </div>
        </div>
        <div class="form-group">
            <label for="cvc">Card Verification Code (CVC)</label>
            <input type="text" class="form-control" id="cvc" autocomplete="off" value="{{ cc_debug.cvc}}" maxlength="4" size="4"/>
        </div>

        <button id="cc-submit" class="button success">Authorize Credit Card</button>
    </form>
  </fieldset>
  </div>
</div>
