{% load staticfiles %}
<div class="home-section medium-6 columns medium-offset-3">
  <div class="row">

    <div class="medium-6 columns">
      <img src="{% static "img/stripe/Stripe Logo (blue).png" %}">
    </div>

    <div class="medium-6 columns">
      <h2>Secure Bids</h2>
      <p>We use Stripe for Codesy's bid and payout handling.  The details of your credit card or bank account are not saved in Codesy's database.
</p>
       <a href="https://stripe.com/about">More about Stripe</a>
    </div>

  </div>
</div>
