<p>Before we can send you money, we need to set up an account.  We use <a href="https://stripe.com" target="_blank">Stripe</a> to handle your account.  This keeps your banking information safe and codesy.io legal.</p>

<p>
    To get started you need to agree to our <a href="/legal-info#terms">Terms of Service</a> and the <a href="https://stripe.com/terms">Stripe Connected Account Agreement</a>.
</p>
<div class="row">
  <div class="column medium-4 medium-offset-4 text-left">
    <fieldset class="fieldset">
      <legend>I acknowled and agree to these terms.</legend>
    <form
        role="form"
        class="form-horizontal"
        action="/payout-info" 
        method="POST">
        {% csrf_token %}
        <button
            id="cc-submit"
            class="button success track-btn"
            data-category="Stripe"
            data-label="Authorize">Please set up an account.
        </button>
    </form>
  </fieldset>
  </div>
</div>
