{% load staticfiles %}
<link rel="stylesheet" href="//{{current_site.domain}}{% static "css/styles.css" %}">
<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.5.0/pure-min.css">
<div id="codesy_bid" class="pure-g">
   <div class="pure-u-1-8">
      <a href="https://{{current_site.domain}}" target="_blank" width="48" height="48">
         <img class="pure-img" src="https://{{current_site.domain}}{% static "img/icon48.png" %}" />
      </a>
   </div>
   <div class="pure-u-7-8">
         You need to <a href="https://{{ current_site.domain }}" target="_blank"> sign in </a> to get started with Codesy.
   </div>
</div>
