{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% block description %}codesy is a pay-what-you-want market for the open source community where we can tip each other to fix important bugs.{% endblock %}">
    <title>{% if request.user.is_authenticated %}{{ request.user.username }} | {% endif %}codesy.io</title>
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" href="{% static "css/codesy-home.css" %}">

  </head>
  <body>

      <div class="nav-bar top-bar">
          <a href="/"><img src="{% static "img/codesy_300dpi_323x80.png" %}" width="161" height="40"/></a>
{% if user.is_authenticated %}
         <div class="top-bar-right">
            <ul class="menu">
               <li><a href="">My Claims...</a></li>
<!-- TODO: Create menus for claims, bids, votes, etc. -->
            </ul>
         </div>
{% endif %}
      </div>


   {% if messages %}
      {% for message in messages %}
         <div class="callout warning expanded" data-closable>
            <button class="close-button" data-close>&times;</button>
            <p class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</p>
         </div>
      {% endfor %}
   {% endif %}

    {% block jumbotron %}
    {% endblock %}

    <div class="callout">

    {% block content %}{% endblock %}

      <hr/>
      <footer class="footer">
        <p>
           <a rel="license" 
              href="http://creativecommons.org/licenses/by-sa/4.0/">
              <img alt="Creative Commons License" 
                 style="border-width:0" 
                 src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" 
                 />
           </a> codesy.io llc; Git Logo <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by/3.0/80x15.png" /></a> <a href="http://www.jasonlong.me/">Jason Long</a>; Icons by
           <a href="http://zurb.com/playground/foundation-icon-fonts-3/">Foundation</a>
        </p>
      </footer>
    </div>

    <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
    <script src="{% static "js/widget-app.js" %}" ></script>
    

    {% block scripts %}{%endblock %}
  </body>
</html>
