{% load staticfiles %}
{% load socialaccount %}
<!DOCTYPE html>
<html id="codesy-html" class="no-js" lang="en" data-stripe_key="{{ settings.STRIPE_PUBLIC_KEY }}" data-ga_id="{{ settings.GOOGLE_ANALYTICS_ID }}" data-ga_filename="analytics{% if settings.DEBUG %}_debug{% endif %}.js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{% block description %}codesy is a pay-what-you-want market for the open source community where we can tip each other to fix important bugs.{% endblock %}">
        <title>{% if request.user.is_authenticated %}{{ request.user.username }} | {% endif %}codesy.io</title>
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
        <link rel="stylesheet" href="{% static "css/codesy-home.css" %}">
    </head>

<body>

    <div class="top-bar">
        <div class="row">
            <div class="top-bar-left">
                <a href="/"><img src="{% static "img/codesy_300dpi_323x80.png" %}" width="161" height="40"/></a>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
                {% if user.is_authenticated %}
                    <li>
                    <a href="#"><img id="top-bar-gravatar" src="{{ user.get_gravatar_url }}">{{ user.username }}</a>
                        <ul class="menu">
                            <li><a href="/bid-list">Bids</a></li>
                            <li><a href="/claim-list">Claims</a></li>
                            <li><a href="/vote-list">Votes</a></li>
                            <hr/>
                            <li><a href="{% url 'card' %}">Change Credit Card</a></li>
                            <li><a href="{% url 'bank' %}">Change Bank Account</a></li>
                            <hr/>
                            <li><a href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>


   {% if messages %}
        <div class="row">
      {% for message in messages %}
        {% if message.message == "stripe_info_verify" %}
            <div class="callout warning expanded" data-closable>
                <button class="close-button" data-close>&times;</button>
                <p class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    Hi, we need more information to validate your
                    <a href="{% url 'identity' %}"> bank account.</a>
                </p>
            </div>
        {% else %}
            <div class="callout warning expanded" data-closable>
               <button class="close-button" data-close>&times;</button>
               <p class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</p>
            </div>
        {% endif %}
      {% endfor %}
        </div>
   {% endif %}

    {% block content %}{% endblock %}

    <hr/>
    <footer class="footer">
        <div class="row">
            <div class="medium-6 columns">
            <p>
            <i class="fi-web"></i>
                <a href="/legal-info#terms">Terms of Service</a>
            <i class="fi-web"></i>
                <a href="/legal-info#privacy">Privacy Policy</a>
            <i class="fi-social-github"></i> <a href="https://github.com/codesy/codesy">Source Code</a>
            </p>
            </div>
            <div class="medium-6 columns">
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" /></a> codesy.io llc; Git Logo <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" src="https://licensebuttons.net/l/by/3.0/80x15.png" /></a> <a href="http://www.jasonlong.me/">Jason Long</a>
            </p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
    <script src="{% static "js/home-app.js" %}" ></script>
    <script src="{% static "js/analytics.js" %}" ></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
