{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <h2>Change Credit Card</h2>
    {% include "includes/stripe_form.html" %}
  </div>
{% endblock %}

{% block scripts %}
   {% if request.user.is_authenticated %}
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script type="text/javascript">
            Stripe.setPublishableKey('{{ settings.STRIPE_PUBLIC_KEY }}');
      </script>
      <script src="{% static "js/stripe-app.js" %}" ></script>
   {% endif %}
{% endblock %}
