{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<a target="_blank" href='{{ claim.issue.url }}'>{{ claim.issue.url }}</a></br>

{%  if claim.claimant == request.user %}

<a target="_blank" href='{{ claim.evidence }}'>{{ claim.evidence }}</a></br>


{% else %}
   {% include "includes/vote_form.html" %}

{% endif %}



{{ claim.created }}</br>
{{ claim.expires }}</br>

<div> NEED TO LOOK UP VOTING STATS HERE</div>
{% endblock %}

{% block scripts %}
   {% if request.user.is_authenticated %}
      <script src="{% static "js/home-app.js" %}" ></script>
   {% endif %}
{% endblock %}
