{% extends "base.html" %}
{% load staticfiles %}

{% block jumbotron %}
          <div class="container">
              <div class="col-md-6">
                  <h1>codesy.io</h1>
                  <p>every day, <strong>millions</strong> of us coders work around bugs in open-source software.</p>
                  <p>codesy is a <strong>pay-what-you-want</strong> market for the open source community where we can tip each other to fix important bugs.</p>
              </div>
              <div class="col-md-6">
                  <iframe width="100%" height="315" src="//www.youtube.com/embed/6gmP4nk0EOE" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
{% endblock %}

{% block content %}

        <div class="row">
            <div id="install-step" class="col-md-4">
                <h2>1. Install. <span class="glyphicon glyphicon-chevron-right"></span></h2>
                {# TODO: auto-detect browser and show proper image #}
                <p>
                <img src="{% static "img/chrome.png" %}" width="32" height="32"/> <a id="chrome-install-button" class="btn btn-lg btn-success" onclick="chrome.webstore.install()" role="button">Add to Chrome</a>
                </p>
                <p>
                <img src="{% static "img/firefox.png" %}" width="32" height="32"/> <a class="btn btn-lg btn-success" href="codesy.xpi" role="button">Add to Firefox</a>
                </p>
            </div>
            <div id="installed" class ="col-md-4" hidden="true">
               <h2>Installed. <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h2>
            </div>
            
            
            <div id="sign-in-step" class="col-md-4">
            {% if request.user.is_authenticated %}
                <h2>2. Signed in. <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h2>
                <p>Welcome <img src="{{ gravatar_url }}"/> {{ request.user.username }}</p>
                <input id="api_token_pass" type="hidden" name="api_token_pass" value="{{ request.user.auth_token }}"/>
                <a href="/accounts/logout/">Sign out</a>
            {% else %}
            <h2>2. <img width="32" height="32" src="https://raw.githubusercontent.com/github/media/master/octocats/blacktocat-32.png" /> <a href="/accounts/github/login/?process=login">Sign in.</a> <span class="glyphicon glyphicon-chevron-right"></span></h2>
            {% endif %}
            </div>
            <div id="connect-payment-step" class="col-md-4">
                <h2>3. Connect payments.</h2>
                {% if not request.user.is_authenticated %}
                Sign in to connect a payment method
                {% else %}
                <form role="form" class="form-horizontal">
                  <div class="form-group">
                    <label for="cc-name">Name on Card</label>
                    <input type="text" class="form-control" id="cc-name" autocomplete="off" placeholder="John Doe" />
                  </div>
                  <div class="form-group">
                    <label for=cc-number">Card Number</label>
                    <input type="text" class="form-control" id="cc-number" autocomplete="off" placeholder="4111111111111111" maxlength="16" />
                  </div>
                  <div class="form-group">
                    <label for="cc-ex-month">Expiration</label>
                    <input type="text" class="form-control" id="cc-ex-month" autocomplete="off" placeholder="01" maxlength="2" size="2"/>
                    <input type="text" class="form-control" id="cc-ex-year" autocomplete="off" placeholder="2013" maxlength="4" size="4"/>
                  </div>
                  <div class="form-group">
                    <label for="ex-cvv">Card Verification Code (CVV)</label>
                    <input type="text" class="form-control" id="ex-cvv" autocomplete="off" placeholder="123" maxlength="4" size="4"/>
                  </div>

                  <button id="cc-submit" class="btn btn-success">Authorize &amp; Connect</button>
                </form>
                {% endif %}
        </div>
    </div>


{% endblock %}

{% block scripts %}
{% if request.user.is_authenticated %}
<script type="text/javascript" src="https://js.balancedpayments.com/1.1/balanced.js"></script>
<script>
function handleResponse(response) {
  if (response.status_code === 201) {
    var card_href, bank_href = null;
    if (response.cards != null) {
        card_href = response.cards[0].href;
    }
    if (response.bank_accounts != null) {
        bank_href = response.bank_accounts[0].href;
    }
    console.log("card_href: " + card_href);
    console.log("bank_href: " + bank_href);
    $.ajax({
      method: "PATCH",
      url: "/users/{{ request.user.id }}/",
      beforeSend: function(xhr, settings) {
          if (!this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
          }
      },
      data: {
        balanced_card_href: card_href,
        balanced_bank_account_href: bank_href
      },
      success: function(data, status, jqXHR) {
        console.log("Updated user.");
      },
      failure: function() {
        console.error("Error updating user.");
      },
    });
  } else {
    console.error("Balanced failed to tokenize.");
  }
}

$('#cc-submit').click(function (e) {
  e.preventDefault();

  var payload = {
    name: $('#cc-name').val(),
    number: $('#cc-number').val(),
    expiration_month: $('#cc-ex-month').val(),
    expiration_year: $('#cc-ex-year').val(),
    cvv: $('#ex-cvv').val(),
    address: {
      postal_code: $('#ex-postal-code').val()
    }
  };

  // Create credit card
  balanced.card.create(payload, handleResponse);
});
</script>
{% endif %}
{% endblock %}
