{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <h2 id="terms">Terms of Service</h2>
        <pre>
            {% include "includes/terms.html" %}
        </pre>
    </hr>
        <h2 id="privacy" >Privacy Policy</h2>
        <pre>
            {% include "includes/privacy.html" %}
        </pre>
    </div>
{% endblock %}

{% block scripts %}
   {% if request.user.is_authenticated %}
      <script src="{% static "js/home-app.js" %}" ></script>
   {% endif %}
{% endblock %}
