export ACCOUNT_EMAIL_VERIFICATION=none
export DATABASE_URL=postgres://localhost:5432/codesy
export DATABASE_URL=sqlite:///codesy.sqlite
export DJANGO_SETTINGS_MODULE=codesy.settings
export DJANGO_SECRET_KEY="3$coflx@+f(-+bdkob2rhd_2)d=+7q!c9k9kjuf)bt*v*vo_(1"
export DJANGO_DEBUG=True
export SENDGRID_USERNAME="https://sendgrid.com/user/signup"
export SENDGRID_PASSWORD="https://sendgrid.com/user/signup"
export BRAINTREE_MERCHANT_ID="https://www.braintreepayments.com/get-started"
export BRAINTREE_PUBLIC_KEY="https://www.braintreepayments.com/get-started"
export BRAINTREE_PRIVATE_KEY="https://www.braintreepayments.com/get-started"
