Django==1.7.3
PyGithub==1.25.2
dj-database-url==0.3.0
dj-static==0.0.6
django-allauth==0.18.0
django-cors-headers==1.0.0
django-mailer==0.1.0
django-toolbelt==0.0.1
django-rest-swagger==0.2.7
djangorestframework==3.0.2
gunicorn==19.1.1
newrelic==2.40.0.34
oauthlib==0.7.2
psycopg2==2.5.4
pystache==0.5.4
python-decouple==2.3
python-openid==2.2.5
requests==2.5.1
requests-oauthlib==0.4.2
static==1.1.1
wsgiref==0.1.2
