    {% if claim.status == "Submitted" or claim.status == "Pending" %}
      <h3>Your claim is submitted.</h3>
      <p>We are collecting votes for your claim.</p>

    {% elif claim.status == "Approved" %}
       <h3>Your claim was approved!</h3>
       {% if request.user.stripe_bank_account %}
        <form id="codesy_payout"
            action="//{{current_site.domain}}{% url 'claim-status' pk=claim.pk %}"
            method="POST" >
            {% csrf_token %}
            <input type="submit" class="button success expanded" value="Pay Me!"></input>
        </form>

       {% else %}

           <h3>You need to tell us where to send your payout.</h3>
           <li><a class="success button expanded" href="{% url 'bank' %}?return_url={{ return_url }}">Register a bank account</a></li>

       {% endif %}

    {% elif claim.status == "Paid" %}
        <div class="payout row">
          <div class="medium-6 columns">
            <table>
              <tbody>
                <tr><td>Ask</td><td>{{ claim.ask  }}</td></tr>
                <tr><td>Credits </td><td>{{ claim.sum_credits }}</td></tr>
                <tr><td>Fees</td><td>({{ claim.sum_fees }})</td></tr>
                <tr><td>Final payout</td><td>{{ claim.sum_payouts }}</td></tr>
              </tbody>
            </table>
          </div>
        </div>

    {% elif claim.status == "Requested" %}
       <h3>Payout for your claim is on the way</h3>
       <h4>An email with your payout is being prepared and will be sent to you in 1-2 days. </h4>

    {% endif %}
