<h3>Do you approve this claim?</h3>
<div class="row">
  <div class="medium-6 columns">
    <form id="codesy_approve" class="vote-submit" action="{% url 'vote-list' %}" data-method="POST">
      {% csrf_token %}
      <input type="hidden" name="claim" value="{{claim.id}}">
      <input type="hidden" name="approved" value="True">
      <input type="submit" class="success button expanded" value="Approve">
    </form>
  </div>
  <div class="medium-6 columns">
    <form id="codesy_reject" class="vote-submit" action="{% url 'vote-list' %}" data-method="POST">
      {% csrf_token %}
      <input type="hidden" name="claim" value="{{claim.id}}">
      <input type="hidden" name="approved" value="False">
      <input type="submit" class="alert button expanded" value="Reject">
    </form>
  </div>
</div>
