{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=15, initial-scale=0.25">
   <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
   <link rel="stylesheet" href="//{{current_site.domain}}{% static "css/codesy-widget.css" %}">
   <script src="{% static "js/jquery-2.0.3.min.js" %}" ></script>
   <script src="{% static "js/widget-app.js" %}" ></script>
      
</head>

<body>
   <div id="codesy_widget">
     <a href="https://{{current_site.domain}}" target="_blank">
       <img id="codesy_logo" 
            src="https://{{current_site.domain}}{% static "img/codesy_300dpi_323x80.png" %}"
         />
     </a>
      {% block widget_content %}{% endblock %}
   </div>
</body>

