{% load staticfiles %}

<!DOCTYPE html>
<html id="codesy-html" class="no-js" lang="en" data-ga_id="{{ settings.GOOGLE_ANALYTICS_ID }}" data-ga_filename="analytics{% if settings.DEBUG %}_debug{% endif %}.js">
<head>
   <meta name="viewport" content="width=15, initial-scale=0.25">
   <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
   <link rel="stylesheet" href="//{{current_site.domain}}{% static "css/codesy-widget.css" %}">
   <script src="{% static "js/jquery-2.0.3.min.js" %}" ></script>
   <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
   <script src="{% static "js/widget-app.js" %}" ></script>
   <script src="{% static "js/analytics.js" %}" ></script>

</head>

<body>
   <div id="codesy_widget">
     {% if messages %}
          <div class="row">
        {% for message in messages %}
           <div class="callout warning expanded" data-closable>
              <button class="close-button" data-close>&times;</button>
              <p class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</p>
           </div>
        {% endfor %}
          </div>
     {% endif %}

      {% block widget_content %}{% endblock %}
   </div>
</body>
