{% extends "addon/base.html" %}
{% load staticfiles %}

{% block widget_content %}
    <div id="widget-input">
        {% for claim in claims %}
            {% if claim.status == 'Paid' %}
                <p>A claim was paid on this issue</p>
            {% elif claim.status == 'Approved' %}
                <p>A claim was approved for this issue</p>
            {% else %}
                <p>
                    Bids are closed because aclaim has been made on this issue.
                </p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
