{% extends "addon/base.html" %}
{% load auctions_extras %}
{% load staticfiles %}

{% block widget_content %}

    <div id="widget-input">

        <div id="widget-input-header">
            THERE IS A CLAIM ON THIS ISSUE
        </div>

        {% actionable_claims_for_bid_for_user bid=bid user=request.user as actionable_claims %}
        {% if bid.ask_met or actionable_claims.own_claim %}
           {% include "addon/includes/claim_form.html" with target="_blank"%}
        {% elif actionable_claims.other_claims != None %}
          {% for other_claim in actionable_claims.other_claims %}
              {% if other_claim.status == 'Paid' %}
                <p>This claim was paid; thank you!</p>
              {% elif other_claim.status == 'Approved' %}
                <p>This claim was approved; thank you!</p>
              {% elif other_claim.status == 'Rejected' %}
                <p>This claim was rejected.</p>
              {% else %}
                <p>
                  <a class="button expanded" href="{% url 'claim-status' pk=other_claim.id %}" target="_blank">Vote on claim &raquo;</a>
                </p>
              {% endif %}
          {% endfor %}
        {% endif %}


    </div>

{% endblock %}
