{% extends "addon/base.html" %}
{% load socialaccount %}
{% load staticfiles %}

{% block widget_content %}
    {% if user.is_authenticated %}
        {% if not user.is_active %}
            Thanks for installing the codesy addon. Your codesy account hasn't been activated.
        {% endif %}
    {% else %}
            <a class="button gh-button track-btn" data-category="sign-in" href="{% provider_login_url "github" %}"><i class="fi-social fi-social-github medium"></i> Sign in with GitHub to get started</a>
    {% endif %}
{% endblock %}
