{% extends "addon/base.html" %}
{% load staticfiles %}

{% block widget_content %}
<div id="widget-wrapper">

    <img id="widget-avatar" src="{{ user.get_gravatar_url }}" width="48" height="48"></img>

    <div id="widget-input">

        <div id="widget-input-header">
            <a href="https://{{current_site.domain}}" target="_blank">
                <img id="widget-header-logo" src="{% static "img/codesy_300dpi_323x80.png" %}" width="161" height="40"></img>
            </a>
        </div>

        <div id="widget-input-form">
            {% if bid.ask_met or claim %}
               {% include "addon/includes/claim_form.html" %}
            {% else %}
                {% include "addon/includes/bid_form.html" %}
            {% endif %}
        </div>

    </div>

</div>
{% endblock %}
<!--TODO: HANDLE CLOSED CLAIMS -->
