{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="column medium-4 medium-offset-4 text-center">
        <h4>Thank you!</h4>
        <p>We're preparing your invite.</p>
        <p>In the meantime, ask us anything on GitHub:</p>
        <a class="button expanded gh-button" href="https://github.com/codesy/codesy/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aquestion" target="_blank"><i class="fi-social fi-social-github medium"></i> Ask Questions</a>
        <p>And feel free to share:</p>
        <a class="button expanded twitter-button popup" href="http://twitter.com/share?url=https://www.codesy.io&text=I+signed+up+for+@codesyio+beta"><i class="fi-social fi-social-twitter medium"></i> Share on Twitter</a>
        <a class="button expanded facebook-button popup" href="http://facebook.com/sharer.php?s=100&p[url]=https://www.codesy.io"><i class="fi-social fi-social-facebook medium"></i> Share on Facebook</a><br/>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/share.js" %}"></script>
{% endblock %}
