/* codesy site styles */

ol {
  padding:1em;
}

/* foundation icon styles */
.fi-check {
  color: #5CB85C;
}

.fi-fast-forward {
  color: red;
}

.fi-loop {
  color:red;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.installed {
  display: none;
}

.fi-social-github {
  font-size: 2em;
}

.menu-text {
  padding: 0;
}

table {
  width: 100%;
}

.date {
  display: table-cell;
}

.date-label {
  background: #eeeeec;
  padding: .5em 2em;
  text-align: center;
  margin-bottom: 0;
}

.date-details {
  border: 1px solid #eeeeec;
  padding: 0 2em;
  text-align: center;
  font-size: 2em;
}

.claim-status {
  text-align: center;
  font-size: 2em;
}
