/* codesy site styles */

a {
  color: #4078C0;
}

ol {
  padding:1em;
}

dt {
  margin-bottom: .3rem;
  font-weight: 700;
}

tr.total {
  border: solid 1px #000;
}

/* foundation icon styles */
.fi-fast-forward {
  color: red;
}

.fi-loop {
  color:red;
}

/* top-bar */

.top-bar, .top-bar ul {
  background-color: #F5F5F5;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.installed {
  display: none;
}

.fi-social-github {
  font-size: 2em;
}

.menu-text {
  padding: 0;
}

table {
  width: 100%;
}

#claim-status-container {
  padding-top: 1em;
  text-align: center;
}

.date-label {
  background: #F7F7F7;
  padding: .5em 2em;
  text-align: center;
  margin-bottom: 0;
}

.date-details {
  border: 1px solid #eeeeec;
  text-align: center;
  font-size: 2em;
}

.claim-status {
  text-align: center;
  font-size: 2em;
}
