/* This is the style for the iframe added to issue pages */
#codesy_iframe {
  visibility: visible !important;
  width: 256px;
  max-width: 256px;
  height: 276px;
  overflow: hidden;
  position: fixed;
  bottom: .25em;
  right: .25em;
  background-color: #fff;
  border: 0px;
}
