/* This is the style for the iframe added to issue pages */
#codesy_iframe {
  visibility: visible !important;
  max-width:150px;
  height:200px;
  overflow: hidden;
  position: fixed;
  bottom: .25em;
  right: .25em;
  border-style:ridge;
  padding:5px;
  background: antiquewhite;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}
