/* codesy site styles */
.glyphicon-ok {
  color: #5CB85C;
}
/*
iframe {
  margin-top: 20px;
}
*/
.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* codesy widget styles */

#codesy_widget {
  max-width:150px;
  border-style:ridge;
  padding:1%;
  background: antiquewhite;
}

#codesy_widget label {
  font-size: x-small;

}

#codesy_widget img {
  max-height:20px;;
}


#codesy_widget input[type="text"] {
  font-size: xx-small;
}

input.button-small {
    font-size: 75%;
}