<div id="widget-input">
    <div id="widget-input-form">
        <form id="codesy_form" action="//{{current_site.domain}}{% url 'bid-status' %}" method="POST">
            {% csrf_token %}
            <input name="url" type="hidden" value="{{ url }}">

            <label class="codesy_hide" >
              {% if not user.stripe_customer %}
              <a class="button expanded success codesy_hide"
                    id="add-cc"
                    type="button"
                    title="You must add a credit card to fund issues."
                    href="//{{current_site.domain}}{% url 'card' %}"
                    target="_blank">Add Credit Card</a>
              <input id="offer"
                  name="offer"
                  type="hidden"
              />

              {% else %}
                {% if bid.offer > 0 %}
                  You funded this for:
                {% else %}
                  I can fund this for:
                {% endif %}
                  <input id="offer"
                      name="offer"
                      type="text"
                      placeholder="$"
                      data-original-value="{{bid.offer}}"
                      value="{% if bid.offer > 0 %}{{bid.offer}}{% endif %}"
                  />
              {% endif %}
            </label>

            <label class="codesy_hide" >
                {% if bid.ask > 0 %}
                    You have asked for:
                {% else %}
                    I'd fix this for:
                {% endif %}
              <input id="ask"
                  name="ask"
                  type="text"
                  class="codesy_hide"
                  placeholder="$"
                  data-original-value="{{bid.ask}}"
                  value="{% if bid.ask > 0 %}{{bid.ask}}{% endif %}"
              />
            </label>

            <input
                type="submit"
                class="button expanded success hide"
                value="CONFIRM"
            />

            <input
                id="cancelSubmit"
                type="button"
                class="button secondary expanded codesy_confirm hide"
                value="CANCEL"
            />

            <button
              type="button"
              id="ShowSubmit"
              class="button expanded success codesy_hide">
                Save changes
            </button>

        </form>
    </div>
</div>
