<div id="widget-input">
    <div id="widget-input-form">
        <form id="codesy_bid"
            action="//{{current_site.domain}}{% url 'bid-status' %}"
            method="POST"
            > <!-- end of FORM tag -->
            {% csrf_token %}
            <input name="url" type="hidden" value="{{ url }}"></input>

            <label class="codesy_hide" >

             {% if bid.ask > 0 %}You have asked for{% else %}You can ask for {% endif %}
            <input id="ask"
                name="ask"
                type="text"
                class="codesy_hide"
                placeholder="What you'd want."
                data-original-value="{{bid.ask}}"
                value="{% if bid.ask > 0 %}{{bid.ask}}{% endif %}">
            </label>
            <label id="ask-confirm" class="callout small codesy_confirm hide" ></label>

            <label class="codesy_hide" >
            {% if bid.offer > 0 %}You have offered{% else %}You can offer{% endif %}
                <input id="offer"
                    name="offer"
                    type="text"
                    placeholder="What you'd pay."
                    data-original-value="{{bid.offer}}"
                    value="{% if bid.offer > 0 %}{{bid.offer}}{% endif %}">
            </label>
            <label id="offer-confirm" class="callout small codesy_confirm hide" ></label>

            <input
                id="submitForm"
                type="submit"
                class="button expanded success codesy_confirm hide"
                value="CONFIRM"
            />

            <button
                type="button"
                id="cancelSubmit"
                class="button secondary expanded codesy_confirm hide">
                Cancel
            </button>

            <button
                type="button"
                id="ShowSubmit"
                class="button expanded success codesy_hide">
                {%  if bid.offer > 0 or bid.ask > 0 %}Change your Bid{% else %}Make a bid{% endif %}
            </button>
        </form>
    </div>
</div>
