<div id="widget-input">
    <div id="widget-input-form">
        <form id="codesy_bid" action="//{{current_site.domain}}{% url 'bid-status' %}" method="POST">
            {% csrf_token %}
            <input name="url" type="hidden" value="{{ url }}">

            <label class="codesy_hide" >
            {% if bid.offer > 0 %}You have offered:{% else %}Offer:{% endif %}
              <input id="offer"
                  name="offer"
                  type="text"
                  placeholder="What you'd pay."
                  data-original-value="{{bid.offer}}"
                  value="{% if bid.offer > 0 %}{{bid.offer}}{% endif %}"
              />
            </label>

            <label class="codesy_hide" >
            {% if bid.ask > 0 %}You have asked for:{% else %}Ask for:{% endif %}
              <input id="ask"
                  name="ask"
                  type="text"
                  class="codesy_hide"
                  placeholder="What you'd want."
                  data-original-value="{{bid.ask}}"
                  value="{% if bid.ask > 0 %}{{bid.ask}}{% endif %}"
              />
            </label>

            <input
                id="submitForm"
                type="submit"
                class="button expanded success hide"
                value="CONFIRM"
            />

            <input
                id="cancelSubmit"
                type="button"
                class="button secondary expanded codesy_confirm hide"
                value="CANCEL"
            />

            <button
              type="button"
              id="ShowSubmit"
              class="button expanded success codesy_hide">
                {%  if bid.offer > 0 or bid.ask > 0 %}Change your Bid{% else %}Make a bid{% endif %}
            </button>

        </form>
    </div>
</div>
