{% with YOU="You've made a claim" SOMEONE="There is a claim" %}

{% if claim %}
   <div>
      <a class="small button success expanded"
         target="_blank" 
         href="//{{current_site.domain}}{% url 'custom-urls:claim-status' pk=claim.pk %}">
         {% if claim.user != request.user %}{{SOMEONE}}{% else %}{{YOU}}{% endif %}
         <i class='fi-fast-forward'></i>
      </a> 
   </div>
{% else %}
   {% if bid.ask_met %}
      <form id="codesy_claim" 
            class="ajaxSubmit" 
            action="//{{current_site.domain}}{% url 'claim-list' %}" 
            data-method="POST" >
            <label>Your ask was met!</label>
            {% csrf_token %}
            <input name="issue" type="hidden" value="{{ bid.issue.id }}" />
               <input 
                  id="evidence" 
                  name="evidence"
                  type="text" 
                  placeholder="Provide a URL."
               />
               <input type="submit" class="button expanded" value="Claim your {{bid.ask}}"></input>
         </fieldset>
      </form>
   {% endif %}
{% endif %}
{% endwith %}

