<p>
    {% if claim.status == 'Paid' %}
        This claim was paid; thank&nbsp;you!
    {% elif claim.status == 'Approved' %}
        Your claim was approved!
        <a class="button success expanded"
        href="{% url 'claim-status' pk=claim.id %}"
        {% if target %} target="{{ target }}"{% endif %}>
        Request Payout &raquo;</a>
    {% else %}
        Collecting votes for <a
        href="{% url 'claim-status' pk=claim.id %}"
        {% if target %} target="{{ target }}"{% endif %}>
        your&nbsp;claim</a>.
    {% endif %}
</p>
