<fieldset class="fieldset">
    <legend>Bank Account Information</legend>
    <form id="stripe-form" stripe-account-type="bankAccount" role="form" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" data-stripe="country" value="US">
        <input type="hidden" data-stripe="currency" value="USD">
        <input type="hidden" id="account_holder_type" data-stripe="account_holder_type" value="individual">

        <div class="form-group">
            <label for="name">Name on the account</label>
            <input type="text" class="form-control" data-stripe="account_holder_name" autocomplete="off" value="{{ STRIPE_DEBUG.bank.name}}" maxlength="16" />
            <label for="routing_number">Routing Number</label>
            <input type="text" class="form-control" data-stripe="routing_number" autocomplete="off" value="{{ STRIPE_DEBUG.bank.routing_number}}" maxlength="16" />
            <label for="acct-number">Account Number</label>
            <input type="text" class="form-control" data-stripe="account_number" autocomplete="off" value="{{ STRIPE_DEBUG.bank.account_number}}" maxlength="16" />
            <div >
                <label>Account Type</label>
                <input type="radio" name="form_holder_type" value="individual" id="individual" required checked="checked">
                <label for="individual">Individual</label>
                <input type="radio" name="form_holder_type" value="company" id="company">
                <label for="company">Company</label>
            </div>
        </div>
        <button id="stripe-submit" class="button success track-btn"
                data-category="Stripe" data-label="Authorize">
                Tokenize Account Information
        </button>
    </form>
</fieldset>
