<fieldset class="fieldset">
    <legend>Bank Account Information</legend>
    <form id="stripe-form" stripe-account-type="bankAccount" role="form" class="form-horizontal">
        {% csrf_token %}
        {%if return_url %}
            <input type="hidden" id="return_url" value="{{return_url}}">
        {% endif %}
        <input type="hidden" data-stripe="country" value="US">
        <input type="hidden" data-stripe="currency" value="USD">
        <input type="hidden" id="account_holder_type" data-stripe="account_holder_type" value="individual">

        <div class="form-group">
            <label for="name">Name on the account</label>
            <input type="text" class="form-control" data-stripe="account_holder_name" autocomplete="off" value="{{ STRIPE_DEBUG.bank.name}}" maxlength="50" />
            <label for="first_name">First Name</label>
            <input name="first_name" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.first_name}}"/>
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.last_name}}"/>
            <fieldset >
                <legend>Birthdate</legend>
                <label for="month">Month</label>
                <input name="month" type="text" class="form-control" autocomplete="off" maxlength="2" value="{{ STRIPE_DEBUG.identity.month}}"/>
                <label for="day">Day</label>
                <input name="day" type="text" class="form-control" autocomplete="off" maxlength="2" value="{{ STRIPE_DEBUG.identity.day}}"/>
                <label for="year">Year</label>
                <input name="year" type="text" class="form-control" autocomplete="off" maxlength="4" value="{{ STRIPE_DEBUG.identity.year}}"/>
            </fieldset>

            <label for="routing_number">Routing Number</label>
            <input type="text" class="form-control" data-stripe="routing_number" autocomplete="off" value="{{ STRIPE_DEBUG.bank.routing_number}}" maxlength="50" />
            <label for="acct-number">Account Number</label>
            <input type="text" class="form-control" data-stripe="account_number" autocomplete="off" value="{{ STRIPE_DEBUG.bank.account_number}}" maxlength="50" />
            <div class="row">
                <div class="small-12 columns">
                    <label class="text-middle">Account Type</label>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <input type="radio" name="form_holder_type" value="individual" id="individual" required checked="checked">
                    <label for="individual" class="text-left">Individual</label>
                </div>
                <div class="small-6 columns">
                    <input type="radio" name="form_holder_type" value="company" id="company">
                    <label for="company" class="text-left">Company</label>
                </div>
            </div>
        </div>


        <button id="stripe-submit" class="button success track-btn"
                data-category="Stripe" data-label="Authorize">
                Submit Account Information
        </button>


    </form>
</fieldset>
