{% extends "stripe_base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="column medium-4 medium-offset-4 text-left">
            {% if request.user.stripe_bank_account %}
                You have already registered a bank acount with us.
                <div class="reveal" id="stripe_bank_account" data-reveal>
                    {% include "bank_account_form.html" %}
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p><a data-open="stripe_bank_account">Change this account.</a></p>
            {% else %}
                To receive payouts, you need to register a bank account.  We save this information with Stripe and it is not stored in codesy's database.
                {% include "bank_account_form.html" %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="column medium-4 medium-offset-4 text-left">
            <a href="https://stripe.com" target="_blank">
                <img src="{% static 'img/stripe/powered_by_stripe.png' %}" alt="" />
            </a>
        </div>
    </div>

{% endblock %}
