{% extends "stripe_base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="column medium-4 medium-offset-4 text-left">
            {% if request.user.stripe_customer %}
                You already have a credit card registered with us.
                We do not store the card details in codesy's database so you can only use this form to re-register or change the card you use for codesy bids.
            {% else %}
                You need to register a credit card to be able to make offers.
                We use Stripe to handle this information and it is never stored in codesy's database.
            {% endif %}
            {% include "credit_card_form.html" %}
        </div>
    </div>
    <div class="row">
        <div class="column medium-4 medium-offset-4 text-left">
            <a href="https://stripe.com" target="_blank">
                <img src="{% static 'img/stripe/powered_by_stripe.png' %}" alt="" />
            </a>
        </div>
    </div>
{% endblock %}
