{% extends "stripe_base.html" %}
{% block content %}
    <div class="row">
        <div class="column medium-4 medium-offset-4 text-left">
            {% if request.user.stripe_customer %}
                You have a credit card registered with us.  You can use this form to change the card information.
            {% else %}
                To make offers, you need to register a credit card.
            {% endif %}
                We tokenize this information with Stripe so it is not stored in codesy's database.
            {% include "credit_card_form.html" %}
        </div>
    </div>
{% endblock %}
