<fieldset class="fieldset">
    <legend>Credit Card Information</legend>
    <form id="stripe-form" stripe-account-type="card" role="form" class="form-horizontal">
        {% csrf_token %}
        <label for="cc-number">Card Number</label>
        <input type="text" class="form-control" data-stripe="number" autocomplete="off" value="{{ STRIPE_DEBUG.card.cc_number}}" maxlength="16" />
        <label for="cc-ex-month">Month</label>
        <input type="text" class="form-control" data-stripe="exp_month" autocomplete="off" value="{{ STRIPE_DEBUG.card.cc_ex_month}}" maxlength="2" size="2"/>
        <label for="cc-ex-month">Year</label>
        <input type="text" class="form-control" data-stripe="exp_year" autocomplete="off" value="{{ STRIPE_DEBUG.card.cc_ex_year}}" maxlength="4" size="4"/>
        <label for="cvc">Card Verification Code (CVC)</label>
        <input type="text" class="form-control" data-stripe="cvc" autocomplete="off" value="{{ STRIPE_DEBUG.card.cvc}}" maxlength="4" size="4"/>
        <button id="stripe-submit" class="button success track-btn" data-category="Stripe" data-label="Authorize">Tokenize Account Information</button>
    </form>
</fieldset>
