{% extends "stripe/base.html" %}
{% block content %}
    <div class="row">
        <div class="column medium-4 medium-offset-4 text-left">
            {% if request.user.stripe_bank_account %}
                You have already registered a credit card with us.  You can use this form to change the card information.
            {% else %}
                To make offers, you need to register a credit card.  This information is not stored in codesy's database.
            {% endif %}
            {% include "stripe/credit_card_form.html" %}
        </div>
    </div>
{% endblock %}
