{% extends "stripe/base.html" %}

{% block content %}
    <div class="row">
      <div class="column medium-5 medium-offset-3 text-left">
         <p>
             Because it's real money, we need tp follow identity regulations.
             We'll try to keep this to a minimum and do not save this information in our database.
         </p>
        <fieldset class="fieldset">
          <legend>.</legend>
        <form
            role="form"
            class="form-horizontal"
            action="/stripe/identity"
            method="POST">
            {% csrf_token %}

            <label for="first_name">First Name</label>
            <input name="first_name" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.first_name}}"/>
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.last_name}}"/>
            <label for="address_line1">Street</label>
            <input name="address_line1" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.street}}"/>
            <label for="address_city">City</label>
            <input name="address_city" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.city}}"/>
            <label for="address_state">State</label>
            <input name="address_state" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.state}}"/>
            <label for="address_postal_code">ZIP</label>
            <input name="address_postal_code" type="text" class="form-control" autocomplete="off" maxlength="16" value="{{ STRIPE_DEBUG.identity.zip}}"/>

            <fieldset >
                <legend>Birthdate</legend>
                <label for="dob_month">Month</label>
                <input name="dob_month" type="text" class="form-control" autocomplete="off" maxlength="2" value="{{ STRIPE_DEBUG.identity.dob_month}}"/>
                <label for="dob_day">Day</label>
                <input name="dob_day" type="text" class="form-control" autocomplete="off" maxlength="2" value="{{ STRIPE_DEBUG.identity.dob_day}}"/>
                <label for="dob_year">Year</label>
                <input name="dob_year" type="text" class="form-control" autocomplete="off" maxlength="4" value="{{ STRIPE_DEBUG.identity.dob_year}}"/>
            </fieldset>
            <label for="ssn_last_4">Last four SSN digits</label>
            <input name="ssn_last_4" type="text" class="form-control" autocomplete="off" maxlength="4" value="{{ STRIPE_DEBUG.identity.ssn_last_4}}"/>
            <label for="personal_id_number">SSN</label>
            <input name="personal_id_number" type="text" class="form-control" autocomplete="off" maxlength="4" value="{{ STRIPE_DEBUG.identity.ssn_full}}"/>


            <fieldset >
                <legend>Account Type</legend>
                <label for="indiv">Individual</label>
                <input name="type" type="radio" data-stripe="account_holder_type" value="individual" id="indiv" required checked="checked">
                <label for="company">Company</label>
                <input name="type" type="radio" data-stripe="account_holder_type" value="company" id="company">
            </fieldset>

            <button
                class="button success track-btn"
                data-category="Stripe"
                data-label="Authorize">Save.
            </button>
        </form>
      </fieldset>
      </div>
    </div>
{% endblock %}
{# #}
{% block scripts %}{# stripe.js not needed #} {% endblock %}
